@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

.button-more {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--orange);
  line-height: 1.625rem;

  &__icon {
    height: 0.75rem;
    margin-left: 0.5rem;
  }

  &:hover .button-more__icon {
    animation: arrow 1s;
  }
}
