html,
body {
  margin: 0;
  font-family: sans-serif, serif;
  font-size: 16px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.display-none {
  display: none;
  opacity: 0;
}

.w-100 {
  width: 100%;
}

.button {
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.5rem 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--white);
  background-color: var(--orange);
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.shadow {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15),
      0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

.line {
  height: 1px;
  background-color: var(--grey-200);
}

.input {
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: 1px solid var(--grey-300);
  font-weight: 500;
  line-height: 1.375rem;
  background-image: url('../../public/message.svg');
  background-position: 0.35rem 0.35rem;
  background-repeat: no-repeat;
  padding-left: 2.75rem;
  transition: all 0.4s ease-in-out;
  caret-color: var(--grey-600);
  color: var(--grey-800);
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 100%;
  }
}

::placeholder {
  color: var(--grey-300);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--grey-300);
}

::-ms-input-placeholder {
  color: var(--grey-300);
}

input:active,
input:hover,
input:focus,
input {
  text-decoration: none;
  outline: none;
}

a:active,
a:hover,
a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.acquaintance-page,
.application-page,
.information-page,
.technology-page,
.contacts-page {
  background-color: var(--white);
  padding: 2.5rem;

  @media (max-width: 768px) {
    padding: 1.5rem;
  }
}
.swiper-nav-button {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  z-index: 2;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
  cursor: pointer;

  @media (max-width: 768px) {
    display: none;
  }

  &_next {
    right: 0;
  }

  &_prev {
    left: 0;
  }
}
