html,
body {
  margin: 0;
  font-family: sans-serif, serif;
  font-size: 16px;
  // overflow: hidden;

  @media (max-width: 1279px), (max-height: 780px) and (min-width: 1280px) {
    font-size: 14px;
  }

  @media (max-width: 879px), (max-height: 380px) and (min-width: 880px) {
    font-size: 12px;
  }
}

// .page {
//   // height: 100vh;
//   height: 100%;
// }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.acquaintance-page,
.application-page,
.information-page,
.technology-page,
.contacts-page {
  background-color: var(--white);
  padding: 2.5rem;

  @media (max-width: 768px) {
    padding: 1.5rem;
  }
}
