html,
body {
  margin: 0;
  font-family: sans-serif, serif;
  font-size: 16px;
  // overflow: hidden;

  // @media (max-width: 1279px), (max-height: 780px) and (min-width: 1280px) {
  //   font-size: 14px;
  // }

  // @media (max-width: 879px), (max-height: 380px) and (min-width: 880px) {
  //   font-size: 12px;
  // }
}

// .page {
//   // height: 100vh;
//   height: 100%;
// }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.display-none {
  display: none;
  opacity: 0;
}

.w-100 {
  width: 100%;
}

.button {
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.5rem 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--white);
  background-color: var(--orange);
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.line {
  height: 1px;
  background-color: var(--grey-200);
}

.input {
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: 1px solid var(--grey-300);
  font-weight: 500;
  line-height: 1.375rem;
  background-image: url('../../public/message.svg');
  background-position: 0.35rem 0.35rem;
  background-repeat: no-repeat;
  padding-left: 2.75rem;
  transition: all 0.4s ease-in-out;
  caret-color: var(--grey-600);
  color: var(--grey-800);
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 100%;
  }
}

::placeholder {
  color: var(--grey-300);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--grey-300);
}

::-ms-input-placeholder {
  color: var(--grey-300);
}

input:active,
input:hover,
input:focus,
input {
  text-decoration: none;
  outline: none;
}

a:active,
a:hover,
a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.acquaintance-page,
.application-page,
.information-page,
.technology-page,
.contacts-page {
  background-color: var(--white);
  padding: 2.5rem;

  @media (max-width: 768px) {
    padding: 1.5rem;
  }
}
