.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);

  &__search {
    width: 1.625rem;
  }

  @media (max-width: 768px) {
    img {
      height: 2rem;
    }
  }

  &__nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
}

.nav-link {
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}
