.brands-carousel-item {
  opacity: 0.5;
  transition: opacity 500ms ease-in-out;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75rem;
  }

  &__name {
    text-align: center;
    margin-top: 1rem;
  }

  &_visited {
    opacity: 1;
  }
}

.brands-carousel-swiper {
  position: relative;
  margin-bottom: 7.5rem;
  width: 100%;
  height: 100%;

  @media (max-width: 768px) {
    margin-bottom: 4.375rem;
  }

  &:hover .swiper-nav-button {
    opacity: 1;
  }
}

.swiper-nav-button {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  z-index: 2;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
  cursor: pointer;

  &_next {
    right: 0;
  }

  &_prev {
    left: 0;
  }
}
