.news {
  padding: 7rem 0 0.125rem;

  @media (max-width: 768px) {
    padding: 3.5rem 0 0;
  }

  &__header {
    padding: 0 6.875rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.25rem;
    color: var(--orange);

    @media (max-width: 768px) {
      font-size: 1.75rem;
      line-height: 2rem;
      padding: 0 1rem;
    }
  }

  &__content {
    margin-top: 1.5rem;
  }

  &__spinner {
    margin: 5rem auto;
  }

  &__scroll {
    position: relative;
    margin: 1.5rem 1rem 0;
    height: 3px;
    background-color: var(--grey-100);

    &-item {
      position: absolute;
      height: 3px;
      transition: transform 500ms ease-in-out;
      background-color: var(--grey-400);
    }
  }
}

.news-swiper {
  position: relative;
  width: 100%;
  height: 100%;

  &:hover .swiper-nav-button {
    opacity: 1;
  }
}

.card {
  background-color: var(--grey-100);
  border-radius: 0.75rem;
  padding: 1rem;

  @media (max-width: 768px) {
    padding: 0.75rem;
  }

  &__img {
    display: block;
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0.75rem;

    @media (max-width: 2048px) {
      height: 358px;
    }

    @media (max-width: 1792px) {
      height: 307px;
    }

    @media (max-width: 1536px) {
      height: 256px;
    }

    @media (max-width: 1344px) {
      height: 217px;
    }

    @media (max-width: 1152px) {
      height: 179px;
    }

    @media (max-width: 900px) {
      height: 165px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &-date {
      font-family: var(--merriweather);
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 1.57;
      color: var(--grey-600);
      margin-top: 1rem;
    }

    &-title {
      font-family: var(--merriweather);
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.625;
      color: var(--grey-800);
      margin-bottom: 0.5rem;
      height: 3.5rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      @media (max-width: 768px) {
        height: 4.3rem;
        -webkit-line-clamp: 3;
        font-size: 0.875rem;
        line-height: 1.57;
      }
    }
  }
}

.last-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__img {
    height: 70%;
    width: 100%;
  }
}
